# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env/
.venv/

# Editor / IDE (VS Code, PyCharm, dll)
.vscode/
.idea/
*.swp
*.swo

# Sistem Operasi
.DS_Store
Thumbs.db